n8n/notify-workflow.json
{
  "name": "Notify",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e253ab79-b16b-49dd-8f48-7303cbeb25d6",
      "name": "Webhook",
      "webhookId": "8825a986-8d17-40be-a59e-7f13755b8574"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "slack",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "slack"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        0
      ],
      "id": "a26ecc87-4428-4b69-b2bf-321d933c132e",
      "name": "Route by Channel"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.recipient }}"
            },
            {
              "name": "text",
              "value": "=\ud83e\udd16 *EDITH*\n\n{{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        -150
      ],
      "id": "d9ff4ce2-af37-483f-9f13-deb8cd6491e7",
      "name": "Telegram"
    },
    {
      "parameters": {
        "jsCode": "// WhatsApp placeholder \u2014 configure WhatsApp Business or wwebjs node here\n// For now, return an error indicating WhatsApp is not yet configured\nreturn [{ json: { success: false, error: 'WhatsApp channel not yet configured. Set up WhatsApp Business Cloud node or wwebjs in n8n.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        -30
      ],
      "id": "b59b07fc-f1a3-4e82-8149-7958f73d8c26",
      "name": "WhatsApp (placeholder)"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipient }}",
        "subject": "={{ $json.subject || 'Message from Edith' }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        460,
        90
      ],
      "id": "62c5cdfc-893a-4aa6-8d77-472cc5360874",
      "name": "Send Email"
    },
    {
      "parameters": {
        "jsCode": "// Slack placeholder \u2014 configure Slack Bolt node here\nreturn [{ json: { success: false, error: 'Slack channel not yet configured. Set up Slack OAuth in n8n.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        210
      ],
      "id": "47f63d61-c7e3-487e-b5e1-9ee3e6b7df53",
      "name": "Slack (placeholder)"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, error: `Unknown channel: ${$json.channel}. Supported: telegram, whatsapp, email, slack` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        330
      ],
      "id": "26323139-02fa-4c5b-bbfb-36d03be64e08",
      "name": "Unknown Channel"
    },
    {
      "parameters": {
        "jsCode": "// Normalize all responses\nconst input = $input.first()?.json || {};\nreturn [{ json: { success: input.success !== false, channel: $('Webhook').first().json.channel, ...input } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ],
      "id": "b6b84651-378e-4e2a-8998-f702dbe5a7bd",
      "name": "Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp (placeholder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack (placeholder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp (placeholder)": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack (placeholder)": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Channel": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}